.container{
    display: block;
    background: rgb(71, 92, 212);
    margin-top: 30px;
    
}
.main{
    
   
    background: rgb(255, 255, 255);
    padding: 20px;
}
.title{
    align-items: center;
}