<div class="container">
    <div class="main" *ngFor="let row of blogData">
        <div class="authorName">
            <h3>Mubarak Kv</h3>
        </div>
        <div class="time">
            <h5>Posted On 01/11/2022</h5>
        </div>
        
        <div class="title">
            <h4>{{row.title}}</h4>
        </div>
        <div class="Description">
            {{row.description}}
        </div>
        <div class="content">
            {{row.content}}
        </div>
        <hr>
    </div>
   