<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>SignUp</h1>
                    <h6>Register Yourself!!</h6>
                </div>
                <form [formGroup] = "signupForm" (ngSubmit)="signUp()">
                    
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Full Name</label>
                          <input type="text" class="form-control" formControlName="fullname" aria-describedby="emailHelp">
    
                        </div>
                        
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">E-mail</label>
                            <input type="email" class="form-control" formControlName="email">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" formControlName="password">
                          </div>
                        
                        <button type="submit" class="btn btn-primary mb-2">Register</button>
                      
                </form>
                <a style="color: #fff; margin-top:10px" routerLink = "/login">Already Have An Account? Click To Login!</a>
            </div>
        </div>
    </div>
</div>